{% extends "management/master.jinja" %}
{% block contents %}
        <div class="row">
            <div class="col-md-12">
                <h1>Authorizations</h1>
            </div>
        {{ request.path  }}
        </div>
{% endblock %}