{% extends "master_sidemenu.jinja" %}

{% block sidemenu %}
                <li class="sidebar-search">
                    <h4><i class="fa fa-legal"></i> Management </h4>
                </li>
                <li>
                    <a href="/management/data_centers"><i class="fa fa-building"></i> Data Centers</a>
                </li>
                <li>
                    <a href="/management/data_servers"><i class="fa fa-server"></i> Servers</a>
                </li>
                <li>
                    <a href="/management/users"><i class="fa fa-users"></i> Users</a>
                </li>
{% endblock %}
