{% extends "master.jinja" %}
{% block navbar_brand %}
    <a href="/management" class="navbar-brand"><i class="fa fa-legal"></i> Management </a>
{% endblock %}
{% block navbar_menu %}
                <li>
                    <a href="/management/data_centers"><i class="fa fa-building"></i> Data Centers</a>
                </li>
                <li>
                    <a href="/management/data_servers"><i class="fa fa-server"></i> Servers</a>
                </li>
                <li>
                    <a href="/management/users"><i class="fa fa-users"></i> Users</a>
                </li>
{% endblock %}
