{% extends "infrastructures/master.jinja" %}
{% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <h1>User Profile</h1>
            </div>
        </div>
{% endblock %}