{% extends "master.jinja" %}
{% block navbar_brand %}
    <a href="/histories" class="navbar-brand"><i class="fa fa-history"></i> Histories </a>
{% endblock %}
{% block navbar_menu %}
    <li>
        <a href="/histories/activities"><i class="fa fa-bar-chart"></i> Activities</a>
    </li>
    <li>
        <a href="/histories/alerts"><i class="fa fa-warning"></i> Alerts</a>
    </li>
{% endblock %}
