{% extends "master.jinja" %}

{% block master_title %}
Learning TurboGears 2.3: Quick guide to the Quickstart pages.
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-md-4">
        <img class="center-block" src="{{tg.url('/img/fortressd_logo_big.png')}}" alt="Fortressd"/>
    </div>
    <div class="col-md-8">
        <div class="page-header">
            <h2>About {{tmpl_context.project_name|default('FORTRESSD')}} v1.0 </h2>
        </div>
        <p>This file is for you to describe the fortressd application. Typically
            you would include information such as the information below:</p>
        <h2>Installation and Setup</h2>
        <p>Install <code>fortressd</code> using the setup.py script::</p>
        <pre><code>$ cd fortressd
$ python setup.py develop
</code></pre>
        <p>Create the project database for any model classes defined::</p>
        <pre><code>$ gearbox setup-app
</code></pre>
        <p>Start the paste http server::</p>
        <pre><code>$ gearbox serve
</code></pre>
        <p>While developing you may want the server to reload after changes in package files (or its dependencies) are
            saved. Th
            is can be achieved easily by adding the --reload option::</p>
        <pre><code>$ gearbox serve --reload --debug
</code></pre>
        <p>Then you are ready to go.</p>
    </div>
</div>

<div class="row">
</div>

{% endblock %}
