{% extends "master.jinja" %}

{% block master_title %}
    A {{ code }} Error has Occurred
{% endblock %}

{% block contents %}
    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
    <h1 class="text-center">Error {{ code }}</h1>

    <?python
import re
mf = re.compile(r'(</?)script', re.IGNORECASE)
def fixmessage(message):
    return mf.sub(r'\1noscript', message)
?>
    <div>{{ message|safe }}</div>
    </div>

{% endblock %}