{% extends "master.jinja" %}

{% block master_title %}
Welcome to {{tmpl_context.project_name|default('FORTRESSD')}}
{% endblock %}


{% block contents %}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
          <img src="{{tg.url('/img/fortressd_logo_big.png')}}" alt="Fortressd"/>
        <h1>Welcome to {{tmpl_context.project_name|default('FORTRESSD')}} <small>v1.0</small></h1>
        <p>If you see this page it means your installation was successful!</p>
        <p></p>
        <p>
          <a class="btn btn-primary pull-right" href="https://github.com/archsh/fortressd" target="_blank">
            {{h.icon('book')}} Learn more
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Code your data model</h3>
      <p> Design your data <code>model</code>, Create the database, and Add some bootstrap data.</p>
    </div>

    <div class="col-md-4">
      <h3>Design your URL architecture</h3>
      <p> Decide your URLs, Program your <code>controller</code> methods, Design your
        <code>templates</code>, and place some static files (CSS and/or Javascript). </p>
    </div>

    <div class="col-md-4">
      <h3>Distribute your app</h3>
      <p> Test your source, Generate project documents, Build a distribution.</p>
    </div>
  </div>

  <em class="pull-right small"> Thank you for choosing {{tmpl_context.project_name|default('FORTRESSD')}}.</em>

{% endblock %}
