{% extends "master_sidemenu.jinja" %}

{% block sidemenu %}
                <li class="sidebar-search">
                    <h4><i class="fa fa-key"></i> Authorizations </h4>
                </li>
                <li>
                    <a href="/profile/change_passwd"><i class="fa fa-key"></i> Change Password</a>
                </li>
                <li>
                    <a href="/profile/edit_info"><i class="fa fa-key"></i> Edit Profile</a>
                </li>
{% endblock %}
