{% extends "master.jinja" %}
{% block navbar_brand %}
    <a href="/request" class="navbar-brand"><i class="fa fa-wpforms"></i> Requests </a>
{% endblock %}
{% block navbar_menu %}
    <li>
        <a href="/profile/change_passwd"><i class="fa fa-key"></i> Change Password</a>
    </li>
    <li>
        <a href="/profile/edit_info"><i class="fa fa-key"></i> Edit Profile</a>
    </li>
{% endblock %}
