{% extends "master.jinja" %}
{% block navbar_brand %}
    <a href="/request" class="navbar-brand"><i class="fa fa-wpforms"></i> Requests </a>
{% endblock %}
{% block navbar_menu %}
    <li>
        <a href="/request/new"><i class="fa fa-plus-square"></i> New Request</a>
    </li>
    <li>
        <a href="/request/history"><i class="fa fa-history"></i> Request History</a>
    </li>
{% endblock %}
