{% extends "terminal/master.jinja" %}
{% block contents %}
        <div class="row">
            <div class="col-md-12">
                <h1>Web Terminal</h1>
            </div>
        </div>
{% endblock %}