{% extends "master.jinja" %}
{% block navbar_brand %}
    <a href="/terminal" class="navbar-brand"><i class="fa fa-terminal"></i> Terminal </a>
{% endblock %}
{% block navbar_menu %}
    <li>
        <a href="/terminal/open?server={{ serverip1 }}"><i class="fa fa-server"></i> 10.255.199.3</a>
    </li>
    <li>
        <a href="/terminal/open?server={{ serverip1 }}"><i class="fa fa-server"></i> 10.255.199.4</a>
    </li>
    <li>
        <a href="/terminal/open?server={{ serverip1 }}"><i class="fa fa-server"></i> 10.255.199.5</a>
    </li>
    <li>
        <a href="/terminal/open?server={{ serverip1 }}"><i class="fa fa-server"></i> 10.255.199.6</a>
    </li>
    <li>
        <a href="/terminal/open?server={{ serverip1 }}"><i class="fa fa-server"></i> 10.255.199.7</a>
    </li>
    <li>
        <a href="/terminal/open?server={{ serverip1 }}"><i class="fa fa-server"></i> 10.255.199.8</a>
    </li>
    <li>
        <a href="/terminal/open?server={{ serverip1 }}"><i class="fa fa-server"></i> 10.255.199.9</a>
    </li>
{% endblock %}
