{% extends "master.jinja" %}
{% block navbar_brand %}
    <a href="/settings" class="navbar-brand"><i class="fa fa-gears"></i> Settings</a>
{% endblock %}
{% block navbar_menu %}
{% endblock %}
