{% extends "master.jinja" %}

{% block master_title %}
Welcome to {{tmpl_context.project_name|default('FORTRESSD')}}
{% endblock %}


{% block contents %}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
          <img src="{{tg.url('/img/fortressd_logo_big.png')}}" alt="Fortressd"/>
        <h1>Users</h1>

      </div>
    </div>
  </div>
{% endblock %}
