{% extends "profiles/master.jinja" %}
{% block contents %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Change Password</h3>
            <hr>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="oldPassword" class="col-sm-4 control-label">Old Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="col-sm-4 control-label">New Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="retypeNewPassword" class="col-sm-4 control-label">New Password (Retype)</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="retypeNewPassword" placeholder="New Password">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default">Confirm Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}