{% extends "master.jinja" %}

{% block master_title %}
    Welcome to {{ tmpl_context.project_name|default('FORTRESSD') }}
{% endblock %}


{% block contents %}
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-user"></i> User Profile </h1>
        </div>
    </div>
{% endblock %}
