{% extends "master.jinja" %}
{% block navbar_brand %}
    <a href="/profile" class="navbar-brand"><i class="fa fa-user"></i> User Profile </a>
{% endblock %}
{% block navbar_menu %}
    <li {% if request.path == '/profile/change_passwd' %}class="active"{% endif %}>
        <a href="/profile/change_passwd"><i class="fa fa-key"></i> Change Password</a>
    </li>
    <li {% if request.path == '/profile/edit_info' %}class="active"{% endif %}>
        <a href="/profile/edit_info"><i class="fa fa-edit"></i> Edit Profile</a>
    </li>
{% endblock %}
