{% extends "master.jinja" %}

{% block master_title %}
    Welcome to {{ tmpl_context.project_name|default('FORTRESSD') }}
{% endblock %}


{% block contents %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <h4><i class="fa fa-user"></i> User Profile </h4>
                </li>
                <li>
                    <a href="/profile/change_passwd"><i class="fa fa-key"></i> Change Password</a>
                </li>
                <li>
                    <a href="/profile/edit_info"><i class="fa fa-key"></i> Edit Profile</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    <div id="page-wrapper">
    {% block page_content %}

    {% endblock %}
    </div>
    <script language="JavaScript">
        $(function () {
            $('#side-menu').metisMenu();
        });
    </script>
{% endblock %}
